<div class="page-header">
  <h1>Links</h1>
</div>

<ul class="col-md-12"> <h2>Links</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "link" %>
  <li>
  <img src="http://graph.facebook.com/<%= p["from"]["id"] %>/picture" width="30">  
  <a href="http://www.facebook.com/<%=p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
    <%= p["message"] %> 
    <img src="<%= p["picture"] %>" width="200">
    <a href="<%= p["link"] %>"><%= p["caption"] %></a>
  </li>
  <% end %>
<% end %>
</ul>