


<ul class="col-md-4"> <h2>Links</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "link" %>
  <li>
  <a href="http://www.facebook.com/<%=p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
    <%= p["message"] %> 
    <a href="<%= p["link"] %>"><%= p["caption"] %></a>
  </li>
  <% end %>
<% end %>
</ul>

<ul class="col-md-4"> <h2>Photos</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "photo" %>
  <li>
      <a href="http://www.facebook.com/<%=p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
      <%= p["message"] %> 
  </li>
    <img src="<%= p["picture"] %>" width="266">
    </img>
  
  <% end %>
<% end %>
</ul>

<ul class="col-md-4"> <h2>Statuses</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "status" %>
  <li>
    <a href="http://www.facebook.com/<%=p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
    <%= p["message"] %> 
  </li>
  <% end %>
<% end %>
</ul>

  <ul class="col-md-3"> <h2>Videos</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "videos" %>
  <li>
    <a href="http://www.facebook.com/<%= p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
    <%= p["message"] %> 
  </li>
  <% end %>
<% end %>
</ul>


<div><%= link_to 'Add a New Friend', new_friend_url, class: 'btn btn-primary' %></div>
