


<ul class="col-md-3"> <h2>Links</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "link" %>
  <li>
  <img src="http://graph.facebook.com/<%= p["from"]["id"] %>/picture" width="30">  
  <a href="http://www.facebook.com/<%=p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
    <%= p["message"] %> 
    <img src="<%= p["picture"] %>" width="200">
    <a href="<%= p["link"] %>"><%= p["name"] %></a>
  </li>
  <% end %>
<% end %>
</ul>

<ul class="col-md-3"> <h2>Tweets</h2>
  <% @client.home_timeline.each do |tweet| %>
      <p><%= image_tag("#{tweet.user.profile_image_url}") %> <%= "#{tweet.text}" %></p>
 <% end %>
</ul>


<ul class="col-md-3"> <h2>Photos</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "photo" %>
  <li>
      <img src="http://graph.facebook.com/<%= p["from"]["id"] %>/picture" width="30">
      <a href="http://www.facebook.com/<%=p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
      <%= p["message"] %> 
  </li>
    <img src="<%= p["picture"] %>" width="200">
    </img>
  <% end %>
<% end %>
</ul>

<ul class="col-md-3"> <h2>Statuses</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "status"%>
  <% if p["status_type"] == "mobile_status_update"%>
  <li>
    <img src="http://graph.facebook.com/<%= p["from"]["id"] %>/picture" width="30">
    <a href="http://www.facebook.com/<%=p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
    <%= p["message"] %> 
    
  </li>
  <% end %>
  <% end %>
 <% end %>
</ul>

  <ul class="col-md-3"> <h2>Videos</h2>
<% @posts.each do |p| %>
  <% if p["type"] == "videos" %>
  <li>
    <a href="http://www.facebook.com/<%= p["from"]["id"]%>"><%= p["from"]["name"] %>:</a>
    <%= p["message"] %> 
  </li>
  <% end %>
<% end %>
</ul>


<div><%= link_to 'Add a New Friend', new_friend_url, class: 'btn btn-primary' %></div>
