<div class="page-header">
  <h1>Networks</h1>
</div>

<p><%= link_to 'Add a New Network', new_network_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Network name</th>
      <th>Base api url</th>
      <th>App secret</th>
      <th>App</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @networks.each do |network| %>
      <tr>
        <td><%= network.network_name %></td>
        <td><%= network.base_api_url %></td>
        <td><%= network.app_secret %></td>
        <td><%= network.app_id %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, network_url(network), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_network_url(network), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, network_url(network), method: 'delete', data: { confirm: "Do you really want to delete this network?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

