<div class="page-header">
  <h1>Network #<%= @network.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Network name</dt>
  <dd><%= @network.network_name %></dd>

  <dt>Base api url</dt>
  <dd><%= @network.base_api_url %></dd>

  <dt>App secret</dt>
  <dd><%= @network.app_secret %></dd>

  <dt>App</dt>
  <dd><%= @network.app_id %></dd>

</dl>
