<div class="page-header">
  <h1>Posts</h1>
</div>

<% @client.home_timeline.each do |tweet| %>
  <p><%= "#{tweet.user.screen_name}: #{tweet.text}" %></p>
<% end %>

<ul class="col-md-3"> <h2>Twitter Feed</h2>
<%# @client.each do |p| %>
  <%# if p["type"] == "link" %>
  <li>
    <%#= p["from"]["name"] %> :
    <%#= p["message"] %> 
    <a href="<%#= p["link"] %>"><%#= p["caption"] %></a>
  </li>
  <%# end %>
</ul>







<p><%= link_to 'Add a New Post', new_post_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Network</th>
      <th>Category</th>
      <th>Linked account</th>
      <th>Friend</th>
      <th>Post type</th>
      <th>Comment</th>
      <th>Link</th>
      <th>Time stamp</th>
      <th>Views</th>
      <th>Interactions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @posts = Post.all %>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= post.network_id %></td>
        <td><%= post.category_id %></td>
        <td><%= post.linked_account_id %></td>
        <td><%= post.friend_id %></td>
        <td><%= post.post_type %></td>
        <td><%= post.comment %></td>
        <td><%= post.link %></td>
        <td><%= post.time_stamp %></td>
        <td><%= post.views %></td>
        <td><%= post.interactions %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, post_url(post), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_post_url(post), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, post_url(post), method: 'delete', data: { confirm: "Do you really want to delete this post?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
