<div class="page-header">
  <h1>Post #<%= @post.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @post.user_id %></dd>

  <dt>Network</dt>
  <dd><%= @post.network_id %></dd>

  <dt>Category</dt>
  <dd><%= @post.category_id %></dd>

  <dt>Linked account</dt>
  <dd><%= @post.linked_account_id %></dd>

  <dt>Friend</dt>
  <dd><%= @post.friend_id %></dd>

  <dt>Post type</dt>
  <dd><%= @post.post_type %></dd>

  <dt>Comment</dt>
  <dd><%= @post.comment %></dd>

  <dt>Link</dt>
  <dd><%= @post.link %></dd>

  <dt>Time stamp</dt>
  <dd><%= @post.time_stamp %></dd>

  <dt>Views</dt>
  <dd><%= @post.views %></dd>

  <dt>Interactions</dt>
  <dd><%= @post.interactions %></dd>

</dl>
